body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* text-align: center; */
  background-image: url(bjtable.jpg);
  background-size: cover;
  color: white;
  font-weight: bold;
}

span{
  display: block;
}

#name-section{
  float: left;
  overflow: visible;
  width: 0;
}

#name-section p{
  width: 200px;
}

#game-section{
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
 font-style: italic;
}

button, input {
  color: #016f32;
  width: 135px;
  background-color: goldenrod;
  padding: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin: 2px;
}

input{
  background-color: rgb(216, 188, 115);
  margin-bottom: 10px;
  width: 125px;
  padding-top: 2px;
  padding-bottom: 2px;
}

